@import url("reset.css");

#pageOptions {
    display: none;
    border: 1px solid black;
    padding: 5px;
}

.create {
    display: inline;
    background-color: #EEE;
    padding: 1px;
}
.create:hover {
    background-color: #AAA;
}

.category li {
    margin-left: 20px;
}