#main-container {
    width: 1000px;
    margin: auto;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
#header {
    height: 125px;
    background: #DDD;
    position: relative;
    border-bottom: 1px solid black;
}

#logo {
    position: absolute;
    left: 25px;
    width: 250px;
    height: 125px;
}

#main-menu {
    position: absolute;
    right: 70px;
    top: 65px;
}

#main-menu li {
    float: left;
    margin-left: 25px;
}

#main-menu li a {
    padding: 5px;
    text-decoration: none;
    color: #000;
}

#main-menu li a:hover {
    background: #555;
    color: #fff !important;
}

#main-menu li a:visited {
    color: #000;
}

#main-menu li a.active {
    background: #555;
    color: #fff;
}

#main-menu li:first-child {
    margin-left: 0;
}

#content {
    height: 350px;
    background: #EEE;
    border-bottom: 1px solid black;
    padding: 30px;
}

h1 {
    font-size: 30px;
    margin-bottom: 20px;
}

#footer {
    position: relative;
    height: 30px;
    background: #BBB;
    border-bottom: 1px solid black;
}

#footer p {
    position: absolute;
    right: 20px;
    top: 5px;
}

/* Misc */

.clear {
    clear: both;
}